*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
}
.subconatainer{
    display: flex;
    width: 90%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.sub1{
    width: 35%;
    /* background-color: red; */
    height: 65%;
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    font-style: italic;
    /* background-color: red; */
    /* background-color: white; */
}
.game{
    padding-left: 15px;
    border-left: 5px solid white;
    border-radius: 4%;
}
#colorh2{
    padding: 10px;
    padding-top: 3px;
    width: fit-content;
}
.from{
    height: 100%;
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* border: 1px solid; */
}

.from{
    width: 30vw;
    height: 50vh;
    background-color:#FFF799;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.subcon{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .subcon{
    display: none;
} */
.resultpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    gap: 15px;
    display: none;
}
.subresult{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#resetbtn{
    padding: 5px;
}
#subcon2{
    font-size: 1.3rem;   
}
button:hover{
    cursor: pointer;
    color: red;
    /* background-color: black; */
}
