*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 500px;
    width: 500px;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 20px; 
    border: 2px solid;  
    align-items: center;
    justify-content: space-around;
}
.buttons{
   display: flex;
   gap: 20px;
}
button{
    padding: 5px;
    font-size: 20px;
}
p{
    font-size: 30px;
    margin-left: 44%;
    margin-top: 20%;
}
button:hover{
    color: red;
    cursor: pointer;
}

