* {
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
}

body {
    height: 700px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #4c6ef5, #b197fc);
}

#questionscon {
    flex-direction: column;
    width: 75%;
}

.option {
    text-align: left;
    padding-right: 10%;
}

.container {
    display: flex;
    width: 50%;
    margin: auto;
    bottom: 100px;
    animation: moveUp 0.05s ease-in forwards;
    margin-top: 4%;
    padding: 0% 5% 3% 0%;
    /* background-color: white;
    border-radius: 18px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    background: #ffffffcc; */
}

@keyframes moveUp {
    from {
        transform: translatey(20px);
    }

    to {
        transform: translatey(0px);
    }

}

.timerCount {
    text-align: right;
    font-size: 20px;
    text-align: right;
    color: #d6336c;
    font-weight: 600;
    margin-bottom: 15px;

}

#nextQues {
    width: fit-content;
}

#instructions {
    padding-top: 5%;
    padding-left: 3%;
    width: 100%;
    margin-left: 0%;
    border-radius: 18px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    background: #ffffffcc;
    padding-bottom: 5%;
}

#quizHeading {
    width: 100%;
    text-align: center;
    padding-bottom: 4%;
    font-weight: 600;
    color: #2d2d2d;
}

#startbtn {
    background-color: blueviolet;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 10px;
    margin-left: 43%;
    font-size: 15px;
    margin-top: 3%;
}

.p1 {
    font-size: 1.1rem;
}

#questionscon {
    width: 100%;
    background-color: white;
    border-radius: 18px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    background: #ffffffcc;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5%;
}

.timerCount {
    padding: 4%;
    padding-bottom: 2%;
    /* background-color: red; */
    margin-bottom: 0%;
}

.option {
    border: none;
    padding: 3% 1% 3% 2%;
    border-radius: 5px;
    font-size: 16px;
}

.option:hover {
    background: #e7f0ff;
    box-shadow: 0 0 12px rgba(76, 110, 245, 0.6);
    transform: translateY(-3px) scale(1.03);
}

button:hover {
    transform: scale(1.05);
}

#nextQues {
    padding: 12px 15px;
    background-color: #4c6ef5;
    border: none;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 45%;
    font-size: 16px;
    color: white;
}

#nextQues:hover {
    background: #3b5bdb;
    transform: scale(1.05);
}

#question {
    font-size: 22px;
    margin-bottom: 2%;
}

#result {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    background: #ffffffcc;
}

#restartQuiz {
    margin-left: 42%;
    margin-bottom: 5%;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: #4c6ef5;
    color: white;
    font-size: 16px;
}
#restartQuiz:hover{
    background: #3b5bdb;
    transform: scale(1.05);
}

#resultShow {
    margin-top: 3%;
    font-size: 25px;
    /* background-color: red; */
    text-align: center;
    padding: 5%;
    border-radius: 10px;
}