*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 5%;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    justify-content: space-around;
    margin-left: 36%;
}
img{
    height: 250px;
    width: 250px;
}
.buttons{
   display: flex;
   gap: 20px;
}
button{
    padding: 5px;
    font-size: 15px;
}

